<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackDuringPattern</key>
	<string>delicateViewType</string>
	<key>customizedQueueDepth</key>
	<string>transitionOrBridge</string>
	<key>permissiveParticleSpeed</key>
	<string>iconJobMomentum</string>
	<key>signBesideNumber</key>
	<string>bulletMediatorBehavior</string>
</dict>
</plist>
