<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCosineVisibility</key>
	<string>staticUtilShade</string>
	<key>captionWithMode</key>
	<string>ignoredAnimatedcontainerMargin</string>
	<key>draggableCapacitiesFeedback</key>
	<string>dependencyAgainstStrategy</string>
	<key>dynamicSkirtMode</key>
	<string>normalGateTint</string>
	<key>errorByMethod</key>
	<string>delegateFlyweightFormat</string>
	<key>errorNearFunction</key>
	<string>animationStageTransparency</string>
	<key>intermediateCellTail</key>
	<string>builderAroundStyle</string>
	<key>responseAsShape</key>
	<string>playbackVarAppearance</string>
</dict>
</plist>
