<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBufferScale</key>
	<string>sineWithoutAdapter</string>
	<key>consultativeBaseVisibility</key>
	<string>sceneOfForm</string>
	<key>convolutionTaskSaturation</key>
	<string>tweenPhaseAlignment</string>
	<key>descriptionDuringCommand</key>
	<string>viewScopeAppearance</string>
	<key>desktopDropdownbuttonForce</key>
	<string>scrollSinceFacade</string>
	<key>diffableFutureContrast</key>
	<string>roleUntilProcess</string>
	<key>lastTaskLocation</key>
	<string>diffableAllocatorMomentum</string>
	<key>pinchableEffectTag</key>
	<string>webInstructionFeedback</string>
	<key>radiusEnvironmentName</key>
	<string>similarSubscriptionAcceleration</string>
	<key>semanticWidgetShade</key>
	<string>providerTypeMomentum</string>
</dict>
</plist>
