<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerByOperation</key>
	<string>keyListviewTint</string>
	<key>associatedTransformerVisible</key>
	<string>accordionStepShape</string>
	<key>sharedFactoryEdge</key>
	<string>functionalBaselineDistance</string>
	<key>slashPrototypeRotation</key>
	<string>tabviewStyleStyle</string>
	<key>tensorButtonMomentum</key>
	<string>nativeProfileMargin</string>
	<key>tweenPatternInteraction</key>
	<string>channelChainDepth</string>
</dict>
</plist>
