<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultResultOffset</key>
	<string>streamStyleFrequency</string>
	<key>injectionDuringContext</key>
	<string>constraintCommandForce</string>
	<key>resourceAboutParameter</key>
	<string>completerTaskSkewy</string>
	<key>tensorNodeSpeed</key>
	<string>pointMementoAppearance</string>
	<key>textureStateForce</key>
	<string>navigatorStageLeft</string>
</dict>
</plist>
