<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFacadeInset</key>
	<string>titleModeVelocity</string>
	<key>discardedInkwellValidation</key>
	<string>streamTempleRotation</string>
	<key>iterativeRoleAppearance</key>
	<string>stampNearFacade</string>
	<key>layoutOfTask</key>
	<string>animatedcontainerParamState</string>
	<key>paddingAmongVariable</key>
	<string>usageTypeTop</string>
	<key>permissiveGateMargin</key>
	<string>normModeLocation</string>
	<key>repositoryShapeMode</key>
	<string>queueViaMemento</string>
	<key>tappablePresenterColor</key>
	<string>descriptorLayerName</string>
</dict>
</plist>
