<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedNodeCenter</key>
	<string>momentumWithMode</string>
	<key>borderVersusEnvironment</key>
	<string>eventPlatformCoord</string>
	<key>configurationThanAction</key>
	<string>projectAboutBuffer</string>
	<key>frameWorkSpacing</key>
	<string>accessoryContextHead</string>
	<key>intensityFacadeVelocity</key>
	<string>currentLocalizationAcceleration</string>
	<key>primaryRowAcceleration</key>
	<string>roleWithoutTask</string>
</dict>
</plist>
