<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerChainHead</key>
	<string>effectScopeDirection</string>
	<key>declarativeBinaryType</key>
	<string>sinkBufferInteraction</string>
	<key>flexAlongParam</key>
	<string>configurationOutsideFlyweight</string>
	<key>gesturePatternTint</key>
	<string>isolateContainCommand</string>
	<key>notifierAroundFramework</key>
	<string>gateAgainstVar</string>
	<key>topicChainSaturation</key>
	<string>nibDecoratorSkewy</string>
</dict>
</plist>
