<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFromOperation</key>
	<string>featureVarSpacing</string>
	<key>checkboxStageVelocity</key>
	<string>axisBesideMethod</string>
	<key>concurrentInterfaceOrigin</key>
	<string>giftOrVariable</string>
	<key>durationProxyPadding</key>
	<string>commonQueryRight</string>
	<key>elasticArithmeticBrightness</key>
	<string>mediaStrategyStyle</string>
	<key>gateAroundStyle</key>
	<string>aspectratioBufferSpeed</string>
</dict>
</plist>
