<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitDurationPressure</key>
	<string>containerAwayMode</string>
	<key>oldControllerMargin</key>
	<string>containerSingletonBottom</string>
	<key>radiusCompositeDirection</key>
	<string>sequentialModelHead</string>
	<key>responsiveSizedboxOrientation</key>
	<string>projectStateBehavior</string>
	<key>webMetadataCoord</key>
	<string>heapCommandOrigin</string>
</dict>
</plist>
