<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventInsideFlyweight</key>
	<string>otherLayerTransparency</string>
	<key>grainPerTask</key>
	<string>iconOfMode</string>
	<key>interactorAboutSystem</key>
	<string>asyncBeyondTask</string>
	<key>mediocreProfileRight</key>
	<string>referenceIncludeFramework</string>
	<key>rapidActionIndex</key>
	<string>storeOutsideScope</string>
</dict>
</plist>
