<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAwayVar</key>
	<string>singletonNearFramework</string>
	<key>cursorTypeName</key>
	<string>consultativeMenuFormat</string>
	<key>descriptionUntilChain</key>
	<string>factoryContainKind</string>
	<key>easyChannelsTail</key>
	<string>tweenChainOrientation</string>
	<key>invisibleIsolateVisibility</key>
	<string>futureAwayFunction</string>
	<key>isolateProcessSpeed</key>
	<string>flexThroughStructure</string>
	<key>pinchableTextureMomentum</key>
	<string>sortedTouchRate</string>
	<key>specifyPageviewTransparency</key>
	<string>iconSinceKind</string>
</dict>
</plist>
